<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
       
       .fa-headset {
          font-size: 40px;
          position: absolute;
          top: 15px; 
          right: 15px; 
          width: 40px; 
          height: auto;
          color: black;
        } 

        .fa-arrow-right-from-bracket{
          font-size: 30px;
          margin-bottom: 10px;
          color: black;

        }

       .list-group {
            display: flex;
            flex-direction: column; 
            width: 100%; 
            
        }
       
        .list-group-item {
            display: block;
            width: 100%; 
            margin-bottom: 5px; 
            padding: 40px 10px;
            font-size: 18px;
            cursor: pointer;
            background-color: #ffedf2;
        }

    </style>
</head>
<body>
    <h1></h1>
    <a href="http://localhost:1000/supportchat" class="button">
      <i class="fa-solid fa-headset"></i>
    </a>
    <a href="logout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    <form action="./deliveryroute" method="get" class="list-group">
        <% for (let i=0; i<deliveries.length; i++){ %>
            <a  href="./deliveryroute?id=<%= deliveries[i]['_id'] %>" type="submit"><p><%- deliveries[i] %></p></a> <!-- CHANGE THOSE LINES ONLY -->
        <% } %>
    </form> 
</body>
</html>